[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "analyzers/slither"]
	path = analyzers/slither
	url = https://github.com/crytic/slither
[submodule "web3webdeploy"]
	path = web3webdeploy
	url = https://github.com/Plopmenz/web3webdeploy
